# Dependencies
node_modules

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Logs
logs
*.log

# Environment files
.env
.env.*
env.yaml
.env.example

# Documentation
*.md
docs/

# Tests
coverage/
__tests__/
*.test.js
*.spec.js

# Build artifacts
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Docker
Dockerfile*
docker-compose*
.dockerignore
